<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="webthemez">
    <title>UndoHate</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
	<!-- core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/animate.min.css" rel="stylesheet"> 
    <link href="static/css/prettyPhoto.css" rel="stylesheet">
    <link href="static/css/styles.css" rel="stylesheet"> 
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="https://st4.depositphotos.com/16030310/25187/v/600/depositphotos_251875546-stock-illustration-simple-vector-illustration-red-black.jpg"> 
</head>

<body id="home">

    <header id="header">
        <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img class="navbar-brand-logo" src="static/images/logo.png" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="scroll active"><a href="#home">Home</a></li>
                        <li class="scroll"><a href="#undohate">UndoHate</a></li>
                        <li class="scroll"><a href="#features">Features</a></li>
                        <li class="scroll"><a href="#portfolio">Vision</a></li>                 
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->

    <section id="hero-banner">
        <div class="banner-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Detecting Hate Content</h2>
                        <p>Social Media are sensors in the real world that can be used to measure the pulse of societies. However, the massive and unfiltered feed of messages posted in social media is a phenomenon that nowadays raises social alarms, especially when these messages contain hate speech targeted to a specific individual or group. <p>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#main-slider-->

    <section id="undohate">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Undo Hate</h2>
                <p class="text-center wow fadeInDown">Identify and remove hate content using UndoHate<br>"A healthy mind does not speak ill of others"</p>
            </div>
        </div>
    </section><!--/#undohate-->

    <section id="undohate1">
        <div class="container">
            <div class="container undohate-info">
                <div class="row">
				  <div class="col-sm-4 col-md-4">
                        <div class="undohate-form">
                            <h3 style="margin-top: 0;">How to Undo Hate??</h3>
                            <ul>
                                <li>Takes hate content in text, image, audio and video input</li>
                                <li>Identifies hate content</li>
                                <li>Highlights hate content</li>
                                <li>Predicts the sentiment exhibited</li>
                                <li>Finds kind of emotion displayed</li>
                                <li>Finds recent tweets on a topic</li>
                                <li>Analyse the kind of tweets</li>
                               </ul>
					    </div>
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <div class="undohate-form">
                            <a class="btn btn-primary btn-lg btn-block" href="/tweet">Analyze Tweet &emsp;<i class="fab fa-twitter"></i></a>
                            <br>
                            <a class="btn btn-primary btn-lg btn-block" href="/text">Analyze Text &emsp;<i class="fas fa-spell-check"></i></a>
                            <br>
                            <a class="btn btn-primary btn-lg btn-block" href="/image">Analyze Image &emsp;<i class="fas fa-images"></i></a>
                            <br>
                            <a class="btn btn-primary btn-lg btn-block" href="/video">Analyze Video &emsp;<i class="fas fa-film"></i></a>
                            <br>
                            <a class="btn btn-primary btn-lg btn-block" href="/audio">Analyze Audio &emsp;<i class="fas fa-headphones"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
   </section><!--/#bottom-->

    <section id="features">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Awesome Features</h2> 
				<p class="text-center wow fadeInDown">UndoHate has a number of features that can efficiently decrease hate content in social life of people <br> Eliminate hate using UndoHate</p>
            </div>
            <div class="row">               
                <div class="col-md-6">
                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fas fa-grin-stars"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Emotion Detection</h4>
                            <p>UndoHate detects the emotion (Sentiment Analysis) in different kinds of input.<br>
                                It tells about the percentage of hatred, happiness, deppresion etc in the given input.
                            </p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fas fa-eye-slash"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Hide hate content</h4>
                            <p>UndoHate marks certain contents as hate contents and it to acknowledge the user to avoid using the particular thing.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fas fa-eraser"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Detects</h4>
                            <p>UndoHate offers numerical detection of hate content to remove it from the inputs. <br>
                            It suggests alternatives to the hate words while preserving the emotion of the text input.</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fas fa-desktop"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Easy to use</h4>
                            <p>UndoHate Website has an amazing user-friendly UI which was built by anticipating what users might need to do and ensuring that the interface has elements that are easy to access and understand.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <section id="hero-text" class="wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <h2>Detecting</h2>
                    <p>Our model performs well for detecting hateful comments and content across multiple platforms</p>
                </div>
                <div class="col-sm-3 text-right">
                    <a class="btn btn-primary btn-lg scroll" href="#undohate">Analyze !!!</a>
                </div>
            </div>
        </div>
    </section><!--/#hero-text-->
    
    <section id="portfolio">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown"> Our Vision</h2>
                <p class="text-center wow fadeInDown">As updates in the future, UndoHate will have a number of awesome features. <br> Remove hate not only in social platforms but everywhere in your life.</p>
            </div>
            <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All Updates</a></li>
                    <li><a href="#" data-filter=".designing">Integration with other apps</a></li>
                    <li><a href="#" data-filter=".mobile">Block Haters</a></li>
                    <li><a href="#" data-filter=".development">Part of Parental Controls</a></li>
                </ul><!--/#portfolio-filter-->
            </div>
            <div class="portfolio-items">
                <div class="portfolio-item designing">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="static/images/portfolio/01.png" alt="">
                        <div class="portfolio-info">
                            <h3>Connect</h3>
                            Link with social Platforms
                            <a class="preview" href="static/images/portfolio/01.png" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item mobile development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="static/images/portfolio/02.png" alt="">
                        <div class="portfolio-info">
                            <h3>Video</h3>
                             Identify hate in videos
                            <a class="preview" href="static/images/portfolio/02.png" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item designing">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="static/images/portfolio/03.png" alt="">
                        <div class="portfolio-info">
                            <h3>Connect</h3>
                            Link with social Platforms
                            <a class="preview" href="static/images/portfolio/03.png" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item mobile">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="static/images/portfolio/04.png" alt="">
                        <div class="portfolio-info">
                            <h3>Video</h3>
                            Identify hate in videos
                            <a class="preview" href="static/images/portfolio/04.png" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item designing development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="static/images/portfolio/05.png" alt="">
                        <div class="portfolio-info">
                            <h3>Connect</h3>
                            Link with social Platforms
                            <a class="preview" href="static/images/portfolio/05.png" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item mobile">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="static/images/portfolio/06.png" alt="">
                        <div class="portfolio-info">
                            <h3>Image</h3>
                            Identify hate in images
                            <a class="preview" href="static/images/portfolio/06.png" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item designing development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="static/images/portfolio/07.png" alt="">
                        <div class="portfolio-info">
                            <h3>Parental Controls</h3>
                             Control what child sees
                            <a class="preview" href="static/images/portfolio/07.png" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item mobile">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="static/images/portfolio/08.png" alt="">
                        <div class="portfolio-info">
                            <h3>Image</h3>
                            Identify hate in images
                            <a class="preview" href="static/images/portfolio/08.png" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
            </div>
        </div><!--/.container-->
    </section><!--/#portfolio-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2021 Hack Frenzy.
                </div>
                <div class="col-sm-6">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script> 
    <script src="static/js/mousescroll.js"></script>
    <script src="static/js/smoothscroll.js"></script>
    <script src="static/js/jquery.prettyPhoto.js"></script>
    <script src="static/js/jquery.isotope.min.js"></script>
    <script src="static/js/jquery.inview.min.js"></script>
    <script src="static/js/wow.min.js"></script>
    <script src="static/js/custom-scripts.js"></script>
</body>
</html>